 /*
  * Common
  */
 
 .container-small {
 
    width: 450px;
 }
 
 .input-small {
 
    width: 380px;
 }
 
 .select-small {
 
    width: 395px;
 }
 
 .container-medium {
 
    width: 600px;
 }
 
 .input-medium {
 
    width: 540px;
 }
 
 .select-medium {
 
    width: 554px;
 }

 .vspace {
	
	padding-top: 30px;
	padding-bottom: 5px;
 }
 
 .hidden {
 
    display: none;
 }
 
 .img-photo {
 
    display: inline-block;
    max-width: 200px;
    height: 270px;
    padding: 4px;
    margin-right: 15px;
    line-height: 1.4;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}

 #modal-background {

    position: absolute;
    width: 100%;
    z-index: 1040;
    opacity: 0.5;
    background-color: gray;
 }

 /*
  * Search page
  */
 
 .search-tip {
	
	display: block;
	padding: 0 10px 5px 0;
 }